.template_gallery_page_container {
    padding-top: 146px;
    padding-bottom: 200px;
    background-image: url("../images/pink-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .swiper-wrapper{
        -webkit-transition-timing-function:linear!important;
        -o-transition-timing-function:linear!important;
        transition-timing-function:linear!important;
    }

    .gallery_section {
        .no_galleries {
            min-height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                .h2();
            }
        }

        .top_bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 38px;
            box-sizing: border-box;
            margin-bottom: 55px;

            p {
                .p2();
            }

            .info {
                display: flex;
                align-items: center;
                cursor: pointer;

                img {
                    position: relative;
                    top: -3px;
                }
            }

            .filter {
                display: flex;
                align-items: center;
                cursor: pointer;

                img {
                    position: relative;
                    top: -3px;
                    transform: rotate(90deg);
                    margin-left: 5px;
                }
            }
        }

        .swiper-container {
            overflow: visible;

            .swiper-wrapper {
                .swiper-slide {
                    .gallery_image {
                        position: relative;
                        display: block;

                        &:hover {
                            .image_holder {
                                transform: translateY(-50px) rotate(-5deg);
                            }

                            p {
                                opacity: 1;
                                transform: rotate(0deg);
                                bottom: 0;
                            }
                        }

                        .image_holder {
                            border: solid 1px @color1;
                            border-radius: 24px;
                            box-sizing: border-box;
                            padding: 13px;
                            .transition();
                            z-index: 2;
                            position: relative;

                            .image {
                                position: relative;
                                padding-top: 131%;
                                border-radius: 15px;
                                overflow: hidden;

                                img {
                                    .cropped_img();
                                }
                            }
                        }

                        p {
                            padding: 0 15px;
                            box-sizing: border-box;
                            position: absolute;
                            bottom: 50px;
                            left: 0;
                            width: 100%;
                            text-align: center;
                            .p1();
                            opacity: 0;
                            transform: rotate(-5deg);
                            .transition();
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}