.template_tickets_page_container {
    .hero_section {
        padding-top: 234px;
        padding-bottom: 120px;
        position: relative;
        background-color: #fff;
        margin-bottom: -50px;
        z-index: 2;
        border-radius: 0 0 60px 60px;
        border: solid 1px @color1;

        &:before {
            position: absolute;
            //bottom: -20px;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 14px);
            display: block;
            border: solid 1px @color1;
            border-top: 0;
            border-radius: 0 0 60px 60px;

            @media @tablet-s {
                content: "";
            }
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 27px);
            display: block;
            border: solid 1px @color1;
            border-top: 0;
            border-radius: 0 0 60px 60px;

            @media @tablet-s {
                content: "";
            }
        }

        .content {
            padding-left: 9vw;

            .page_title {
                .h5();
                color: @color1;
            }

            .btn {
                padding: 26px 100px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border: solid 1px @color3;
                border-radius: 43px;
                min-width: 170px;
                cursor: pointer;
                .transition();
                .p2();
                color: @color3;
                //height: 38px;
                //
                //@media @tablet-s {
                //    height: 45px;
                //}
                //
                //@media @laptop-s {
                //    height: 55px;
                //}
                //
                //@media @desktop-l {
                //    height: 63px;
                //}
            }
        }
    }

    .tickets_section {
        .ticket {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-color: #EDD1FF;
            padding: 35px 0 50px 0;
            border-top: solid 1px @color1;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;

            @media @tablet-s {
                padding: 95px 0;
            }

            &:first-of-type {
                border-top: none;
                padding-top: 200px;
            }

            &:nth-child(odd) {
                background-image: url("../images/purple-bg.jpg");

                .left {
                    .image_holder {
                        border-radius: 0 60px 60px 0;
                    }
                }
            }

            &:nth-child(even) {
                background-image: url("../images/blue-bg.jpg");

                .left {
                    order: 1;

                    .image_holder {
                        border-radius: 60px 0 0 60px;
                    }
                }
            }



            .left {
                width: 100%;
                margin-bottom: 35px;
                padding-right: 35px;
                box-sizing: border-box;

                @media @tablet-s {
                    width: 43.95%;
                    margin-bottom: 0;
                    padding-right: 0;
                }

                .image_holder {
                    overflow: hidden;
                    position: relative;
                    padding-top: 100%;

                    img {
                        .cropped_img();
                    }
                }
            }

            .right {
                width: 100%;
                box-sizing: border-box;
                padding: 0 35px;

                @media @tablet-s {
                    width: 56.05%;
                }

                @media @tablet-m {
                    padding: 0 9vw;
                }

                @media @desktop-l {
                    padding: 0 13vw 0 12vw;
                }

                .pills_checkbox_inputs_holder {
                    display: flex;

                    label {
                        position: relative;
                        cursor: pointer;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        small {
                            order: 1;
                            width: 100%;
                        }

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .pill {
                            width: 100%;
                            border: solid 1px @color1;
                            border-radius: 60px;
                            position: relative;
                            background-color: transparent;
                            height: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .transition();

                            .pill_content {
                                text-align: center;

                                .type {
                                    .p1();
                                }

                                .price,
                                .type {
                                    display: block;
                                }
                            }
                        }
                    }

                    label input:checked ~ .pill {
                        background-color: @color2;
                    }
                }

                .title {
                    .h2();
                    margin-bottom: 25px;

                    .single_word{
                        padding: 8px 0;

                        @media @tablet-s {
                            padding: 1vw 0;
                        }
                    }
                }

                .subtitle {
                    font-family: @fontR;
                    font-size: 16px;
                    line-height: 1.36em;
                    text-transform: uppercase;
                    color: @color1;

                    //@media @tablet-s {
                    //    font-size: 20px;
                    //}

                    @media @laptop-s {
                        font-size: 22px;
                    }

                    @media @desktop-m {
                        font-size: 28px;
                    }
                }

                .description_holder {
                    margin-top: 74px;

                    .description {
                        p {
                            .p1();
                        }
                    }
                }

                .button {
                    width: 100%;
                    margin-top: 18px;

                    @media @tablet-s {
                        margin-top: 50px;
                    }
                }
            }
        }

        //.ticket {
        //    display: flex;
        //
        //    .left {
        //        width: 50%;
        //
        //        .image_holder {
        //            position: relative;
        //            padding-top: 100%;
        //
        //            img {
        //                .cropped_img();
        //            }
        //        }
        //    }
        //
        //    .right {
        //        align-self: center;
        //        width: 50%;
        //    }
        //}
    }

    .info_section {
        background-color: @color1;
        padding: 200px 0;

        .info {
            .info_title {
                .h2();
                color: #fff;
                text-transform: uppercase;
                padding-left: 190px;
            }

            .info_list_holder {
                padding-left: 190px;
                padding-right: 270px;
                position: relative;
                border-top: solid 1px @color3;
                border-bottom: solid 1px @color3;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: @color3;
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                }

                ul {
                    padding: 40px 0;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 50%;
                        margin-bottom: 40px;

                        .p1();
                        color: #fff;
                    }
                }
            }
        }
    }
}