.template_calendar_page_container {
    padding-top: 66px;
    position: relative;
    z-index: 0;
    background: linear-gradient(rgba(225, 175, 255, 0.54), #fff);

    @media @tablet-s {
        padding-top: 146px;
    }

    .filters {
        padding: 0 16px;
        box-sizing: border-box;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;

        @media @tablet-s {
            padding: 0 42px;
            margin-bottom: 142px;
        }

        @media @tablet-xl {
            padding: 0 42px;
            margin-bottom: 242px;
        }

        .select_2_holder {
            @media @laptop-s {
                display: none;
            }

            .select2-container {
                left: auto!important;
            }

            .select2-dropdown {
                border-color: transparent !important;
                width: auto !important;
                background-color: transparent;
                right: 0!important;
                left: auto!important;

                .select2-results {
                    .select2-results__options {
                        margin-top: 5px;
                        .select2-results__option {
                            background-color: @color2;
                            border: 1px solid @color1;
                            .p2();
                            white-space: nowrap;
                            border-radius: 60px;

                            &.select2-results__option--highlighted {
                                background-color: @color1;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .date_slider {
            padding: 14px;
            padding-bottom: 10px;
            height: 40px;
            font-size: 16px;

            @media @tablet-s {
                height: 60px;
            }

            @media @laptop-s {
                //padding: 15px 33px;
                height: auto;
                font-size: 22px;
            }

            &:hover {
                background-color: @color3;
            }

            input {
                display: none;
            }

            .slick-list {
                width: 100px;
                text-align: center;

                @media @laptop-s {
                    width: 130px;
                }
            }

            button {
                background-color: transparent;
                padding: 0;
                border: none;
                width: 20px;
                height: 21px;
                position: relative;
                top: -1px;

                @media @laptop-s {
                    top: -2px;
                    width: 24px;
                }

                &.prev {
                    margin-right: 5px;

                    @media @tablet-s {
                        margin-right: 18px;
                    }

                    &:hover {
                        img {
                            transform: rotate(180deg) translateX(8px);
                        }
                    }

                    img {
                        transform: rotate(180deg);
                    }
                }

                &.next {
                    margin-left: 5px;

                    @media @tablet-s {
                        margin-left: 18px;
                    }

                    &:hover {
                        img {
                            transform: translateX(8px);
                        }
                    }
                }

                img {
                    .transition();
                    width: 100%;
                }
            }
        }

        .pills_checkbox_inputs_holder {
            display: none;
            flex-wrap: wrap;
            justify-content: space-between;

            @media @tablet-l {
                justify-content: initial;
                flex-wrap: nowrap;
            }

            @media @laptop-s {
                display: flex;
            }

            label {
                position: relative;
                cursor: pointer;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;

                @media @tablet-l {
                    margin-bottom: 0;
                }

                &.sort {
                    &.DESC {
                        span {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:checked ~ span {
                        background-color: @color3;
                    }
                }

                span {
                    padding: 0 20px;
                    box-sizing: border-box;
                    min-width: 77px;
                    width: 100%;
                    border: solid 1px @color1;
                    border-radius: 60px;
                    position: relative;
                    background-color: transparent;
                    height: 40px;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    .transition();
                    .p2();
                    font-size: 20px !important;

                    &:hover {
                        background-color: #fff;
                    }

                    @media @tablet-s {
                        padding: 15px 40px;
                        height: auto;
                        min-width: 163px;
                    }

                    @media @desktop-m {
                        // padding: 15 55px;
                    }

                    img {
                        position: relative;
                        margin-left: 7px;
                        width: 13px;
                        top: -1px;

                        @media @tablet-s {
                            margin-left: 8px;
                            width: 17px;
                            top: -2px;
                        }

                        @media @laptop-s {
                            top: -4px;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .page_title {
        .h5();
        line-height: 10.2vw;
        color: @color1;
        padding: 0 15px;

        @media @tablet-s {
            padding-left: 25px;
        }

        @media @tablet-xl{
            padding-left: 120px;
        }
    }

    #events_response {
        .transition();

        .no_events {

        }

        .dates_section_mobile {
            @media @tablet-s{
                display: none;
            }

            .date {
                display: flex;
                border-bottom: solid 1px @color1;
                box-sizing: border-box;
                padding: 0 15px;

                &:first-of-type {
                    border-top: solid 1px @color1;
                }

                &:last-of-type {
                    margin-bottom: 10px;
                }

                .events_date {
                    padding-top: 80px;
                    padding-bottom: 70px;
                    width: 30%;

                    .date_part_1 {
                        font-family: @fontL;
                        font-size: 46px;
                        color: @color1;
                    }

                    .date_part_2 {
                        .p2();
                    }
                }

                .events {
                    padding: 30px 0 24px 0;
                    width: 70%;

                    .event {
                        position: relative;
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        .info {
                            .event_category {
                                margin-bottom: 12px;
                                .p1();
                            }

                            .event_title {
                                font-family: @fontL;
                                font-size: 26px;
                                color: @color1;
                                text-transform: capitalize;
                            }

                            .event_description {
                                margin-top: 10px;
                                .p1();
                                .fontB();
                            }
                        }
                    }
                }
            }
        }

        .dates_section_desktop {
            display: none;

            @media @tablet-s{
                display: block;
            }

            .date {
                display: flex;
                align-items: center;
                border-bottom: solid 1px @color1;
                box-sizing: border-box;
                padding-left: 30px;

                //Slick slider fix when slider is inside of div which has display: flex;
                * {
                    min-height: 0;
                    min-width: 0;
                }
                //Slick slider fix END

                &:first-of-type {
                    border-top: solid 1px @color1;
                }

                &:last-of-type {
                    margin-bottom: 30px;
                }

                .events_date {
                    text-align: center;
                    min-width: 15vw;
                    align-self: initial;

                    .date_part_1 {
                        font-family: @fontL;
                        color: @color1;
                        font-size: 7vw;
                    }

                    .date_part_2 {
                        .p2();
                    }
                }

                .events {
                    overflow: hidden;
                    height: 100%;
                    padding: 50px 0;

                    @media @tablet-l{
                        padding: 75px 0;
                    }

                    .events_slider {
                        width: 65%;

                        .events_slider_btn {
                            width: 60px;
                            height: 60px;
                            border-radius: 60px;
                            background-color: #D22EFF;
                            border: solid 1px @color1;
                            position: absolute;
                            z-index: 2;
                            bottom: -35px;
                            .transition();

                            @media @desktop-s{
                                bottom: -45px;
                                width: 80px;
                                height: 80px;
                                border-radius: 80px;
                            }

                            img{
                                width: 30px;

                                @media @desktop-s{
                                    width: 40px;
                                }
                            }

                            &.slick-disabled {
                                transform: scale(0);
                            }

                            &.prev {
                                left: 5vw;

                                img {
                                    transform: rotate(180deg);
                                }
                            }

                            &.next {
                                right: -18vw;
                                //transform: translateX(18vw);
                            }

                            &:after {
                                content: "";
                                display: block;
                                width: 45px;
                                height: 45px;
                                border-radius: 45px;
                                border: solid 1px @color1;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);

                                @media @desktop-s{
                                    width: 65px;
                                    height: 65px;
                                    border-radius: 65px;
                                }
                            }
                        }

                        .slick-list {
                            overflow: visible;

                            .slick-slide {
                                position: relative;

                                &:after {
                                    content: "";
                                    display: block;
                                    width: 1px;
                                    height: 200%;
                                    background-color: @color1;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                &.slick-current {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    .event {
                        padding-left: 3vw;
                        position: relative;
                        display: flex;
                        align-items: center;
                        //justify-content: flex-end;
                        justify-content: initial;

                        @media @tablet-l{
                            justify-content: initial;
                        }

                        @media @desktop-s{
                            padding-right: 0;
                        }

                        .image_holder {
                            .image {
                                border: solid 2px @color1;
                                box-sizing: border-box;
                                position: relative;
                                padding-top: 85.4%;
                                border-radius: 30px;
                                overflow: hidden;
                                //min-width: 350px;
                                width: 18.3vw;

                                @media @laptop-s {
                                    padding-top: 85.4%;
                                }

                                img {
                                    .cropped_img();
                                }
                            }
                        }

                        .info {
                            box-sizing: border-box;
                            padding: 0 15px;

                            @media @tablet-l {
                                padding: 0 15px 0 30px;
                            }

                            @media @desktop-s{
                                padding-left: 72px;
                                padding-right: 123px;
                            }

                            .program_category {
                                margin-bottom: 12px;
                                .p1();
                            }

                            .program_title {
                                font-family: @fontL;
                                color: @color1;
                                text-transform: capitalize;
                                margin-bottom: 30px;
                                font-size: 2.6vw;
                                max-width: 26vw;
                                //font-size: 26px;

                                @media @tablet-xl {
                                    font-size: 36px;
                                }
                            }

                            .program_description {
                                .p1();
                                .fontB();
                                max-width: 500px;
                            }
                        }
                    }
                }
            }
        }

        .no_events_section {
            min-height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                .h3();
            }
        }
    }



    .boxes_section {
        display: flex;        
        box-sizing: border-box;
        background-image: url("../images/pink-2-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        flex-wrap: wrap;

        @media @tablet-s{
            padding: 30px 0;
            border-top: solid 1px @color1;
        }

        &.more_than_two_boxes {
            .box {
                @media @tablet-l {
                    margin-top: -50px;

                    &:nth-child(1) {
                        margin-top: 0;
                    }

                    &:nth-child(2) {
                        margin-top: 0;
                    }
                }
            }
        }

        .box {
            width: 100%;
            box-sizing: border-box;

            @media @tablet-l {
                width: 50%;

                &:nth-child(odd) {
                    padding-right: 30px;

                    .box_content {
                        border-top-right-radius: 60px;
                    }
                }

                &:nth-child(even) {
                    padding-left: 30px;

                    .box_content {
                        border-top-left-radius: 60px;
                    }
                }
            }

            .box_content {
                padding: 50px 0 90px 0;
                border-top: solid 1px @color1;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;

                @media @tablet-l{
                    border: solid 1px @color1;
                    border-bottom: 0;
                    padding: 110px 0 200px 0;
                }

                .icon {
                    margin-bottom: 25px;
                    height: 120px;

                    @media @tablet-l{
                        margin-bottom: 55px;
                        height: 150px;
                    }

                    @media @desktop-s{
                        margin-bottom: 55px;
                        height: 220px;
                    }
                    
                }

                h2 {
                    font-family: @fontL;
                    font-size: 36px;
                    color: @color1;
                    margin-bottom: 16px;

                    @media @tablet-s{
                        font-size: 5vw;
                    }
                }
            }
        }
    }
}